@charset "UTF-8";

/* 回答はここに書いてね */

.q7__box__common {
  width: 225px;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7--float .clearfix .is-float:first-child {
  margin-left: 0;
}

.is-float {
  box-sizing: border-box;
  float: left;
  /* width: 225px; */
  margin-left: 50px;
}

.main-box {
  display: table;
}

.table__text__box:first-child {
  padding-left: 0;
  vertical-align: middle;
}

.table__text__box {
  /* width: 225px; */
  display: table-cell;
  padding-left: 50px;
}

.inline-main {
  font-size: 0;
}

.inline-box:first-child {
  margin-left: 0;
}

.inline-box {
  display: inline-block;
  /* width: 225px; */
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;
  /* font-size: 16px; */
}

.flex-main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-main .flex-box__text {
  box-sizing: border-box;
  vertical-align: middle;
  /* width: 225px; */
}

.inline-margin__main {
  box-sizing: border-box;
  font-size: 0;
}

.maintain-stable {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.maintain-flexible {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.maintain-text {
  font-size: 16px;
}

/* 回答はここに書いてね */

